Task_03_Remote_Objects/src/main/resources/dse.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="dse.univie.ac.at"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="DSE" targetNamespace="dse.univie.ac.at">
  <!-- 
      The `types` element defines the data types (XML elements)
      that are used by the web service.
    -->
  <wsdl:types>
    <xsd:schema targetNamespace="dse.univie.ac.at">
      <xsd:element name="BankAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountId" type="xsd:string" />
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="balance" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TransferFunds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:string" />
            <xsd:element name="transactionType" type="xsd:string" />
            <xsd:element name="fromAccountId" type="xsd:string" />
            <xsd:element name="toAccountId" type="xsd:string" />
            <xsd:element name="amount" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Audit">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TransferFundsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:BankAccount"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
 
      <xsd:element name="AuditResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="totalBalance" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <!-- 
      A wsdl `message` element is used to define a message
      exchanged between a web service, consisting of zero
      or more `part`s.
    -->
  <wsdl:message name="TransferFundsRequestMessage">
    <wsdl:part element="tns:TransferFunds" name="parameters" />
  </wsdl:message>

  <wsdl:message name="TransferFundsResponseMessage">
    <wsdl:part element="tns:TransferFundsResponse" name="parameters" />
  </wsdl:message>

  <wsdl:message name="AuditRequestMessage">
    <wsdl:part element="tns:Audit" name="parameters" />
  </wsdl:message>


  <wsdl:message name="AuditResponseMessage">
    <wsdl:part name="response" element="tns:AuditResponse" />
  </wsdl:message>
  <!-- 
      A WSDL `portType` is used to combine multiple `message`s
      (e.g. input, output) into a single operation.

      Here we define synchronous (input/output) operations
      and the `message`s that must be used for each.
    -->
  <wsdl:portType name="BankingService">
    <wsdl:operation name="TransferFunds">
      <wsdl:input message="tns:TransferFundsRequestMessage" />
      <wsdl:output message="tns:TransferFundsResponseMessage" />
    </wsdl:operation>

    <wsdl:operation name="Audit">
      <wsdl:input message="tns:AuditRequestMessage" />
      <wsdl:output message="tns:AuditResponseMessage" />
    </wsdl:operation>

  </wsdl:portType>
  <!-- 
      The `binding` element defines exactly how each
      `operation` will take place over the network.
      In this case, we are using SOAP.
    -->
  <wsdl:binding name="BankingServiceSOAP" type="tns:BankingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransferFunds">
      <soap:operation soapAction="TransferFunds" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Audit">
      <soap:operation soapAction="Audit" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <!-- 
      The `service` element finally says where the service
      can be accessed from - in other words, its endpoint.
    -->
  <wsdl:service name="BankingService">
    <wsdl:port binding="tns:BankingServiceSOAP" name="BankingService">
      <soap:address location="http://localhost:8023/BankingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>